<h1>How do we build this app, what commands do we run?</h1>
<ol>
  <li>ng new pet-app</li>
  <li>cd pet-app</li>
  <li>ng serve -o</li>
  <li>ng generate component instructions</li>
  <li>ng generate component pet</li>
  <li>ng generate component pets</li>
  <li>ng generate component add-pet</li>
  <li>ng generate service services/pet</li>
  <li>ng generate component login</li>
  <li>ng generate component register</li>
  <li>ng generate service services/person</li>
  <li>ng generate service services/session</li>
  <li>npm install ngx-cookie</li>
  <li>Add the Cookie module to the imports in app.module.ts</li>
  <li>"ng test"to test our app</li>
  <li>"ng test --no-watch --code-coverage" to test with coverage</li>
</ol>

<h1>Try making a component and rendering it on the page</h1>
<h1>Try making an object in TS and display those values on the page</h1>
<h1>Use 2-way binding to map values in a form to an object in our component</h1>